.App {
  margin: 0;
  padding: 0;
  width: 100%;   
}

.container {
  background-image: url('./public/images/fundo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}


