.par {
    
}



.parl {
    width: 100%;
    height: 120px;
    color: white;
    background-color: rgb(33, 143, 194);
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
}

.parl h1 {
    font-size: 3.5rem;
}

.parl h2 {
    font-size: 2rem;
    color: yellow;
    font-weight: 400;
}

.parl p {
    font-size: 2rem;
    font-weight: 400;
    color: black;
}

.parl-1 {
    width: 65%;
}

.parl-2 {
    width: 35%;
}