/* Pásginas com Parlamentares, partido e voto.*/
.parlamentares {
    --font-size-parlament-h1: 2rem;
    --font-size-parlament-h2: 2rem;
    --font-size-parlament-p: 1.5rem;
    --font-size-parlament-3-h2: 1.3rem;
    --font-size-parlament-4-h2: 1.2rem;
    --height-parl: 120px;

}

.mesa-dir {
    --font-size-parlament-h1: .9rem;
    --font-size-parlament-h2: .8rem;
    --font-size-parlament-p: 0.65rem;
    --font-size-parlament-3-h2: 0.7rem;
    --font-size-parlament-4-h2: 0.65rem;
    --height-parl: 40px;

}

.par {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.parl {
    width: 100%;
    height: var(--height-parl);
    color: red;    
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;    
}

.parl-1 h1 {
    font-size: var(--font-size-parlament-h1);
    margin-left: 1rem;
    color: rgb(3, 45, 100);
    font-weight: 500;    
}

.parl-2 h2 {
    font-size: var(--font-size-parlament-h2);
    color: #189583;
    font-weight: 100;
}

.parl-1 {
    width: 50%;
}

.parl-2 {
    width: 20%;
}

.parl-3 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parl-4 {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parl-3 div h2 {
    font-size: var(--font-size-parlament-3-h2);
    color: #189583;        
}

.parl-3 div h3 {
    font-size: var(--font-size-parlament-3-h2);
    color: red;        
}

.parl-4 h2 {
    font-size: var(--font-size-parlament-4-h2);
    color: red;    
    font-style: italic;
}

/* Painel com Matéria a ser votada, cronometragem e resultado das votações. */
.painel {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* mesa diretora */
.mesa-diretora {
    display: flex;
    flex-direction: column;
}

.mesa-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
}

.headline {
    width: 100%;
    height: 200px;
    margin: 1px;
    border-radius: 10px;
    background-color: #189583;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.headline h1 {
    
    font-size: 2.3rem;
    color: white;
    text-align: center;
}

.headline h2 {
    
    font-size: 2rem;
    color: white;
    text-align: center;
}

.painel-0 {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.painel-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;    
}

.painel-1 h1 {
    font-size: 1.2rem;
    color: #189583;
}

.painel-2 {
    width: 40%;
    height: 30px;
    margin: 0;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.painel-2 h2 {
    font-size: 1.2rem;
    color: red;
}

.materias-exp {
    width: 100%;
}

.exped-result {
    height: 100px;    
    display: flex;
    padding: 0 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.exped-result-mat {
    
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.exped-result-mat h1 {
    color: #189583 ;
    font-size: 2rem;
}

.exped-result-res {
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.exped-result-res h2 {
    font-size: 2rem;
    color: red;
}

.resultado-vot {
    height: 3.5rem;    
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1px;
    padding: 0 50px;
    border-radius: 5px;


}

.resultado-vot h2 {
    font-size: 2rem;
    color: white;

}

.painel-mat-result {
    width: 100%;   
    
}

.materia-vot {
    height: 100px;         
    background-color: #189583;
    border-radius: 5px;     
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.materia-vot h1 {
    font-size: 2.5rem;
    color: white

}

.data-hora {
    width: 100%;
    height: 100px;
    margin: 1px;
    border-radius: 10px;
    background-color: #189583;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.data-hora h2 {
    color: white;
    font-size: 1.5rem;
    margin: 0 200px;
}