/* Pásginas com Parlamentares, partido e voto.*/
.parlamentares {
    --font-size-parlament-h1: 2.5rem;
    --font-size-parlament-h2: 2rem;
    --font-size-parlament-p: 1.5rem;
    --font-size-parlament-3-h2: 1.3rem;
    --font-size-parlament-4-h2: 1.2rem;
    --height-parl: 120px;

}

.mesa-dir {
    --font-size-parlament-h1: .9rem;
    --font-size-parlament-h2: .75rem;
    --font-size-parlament-p: 0.65rem;
    --font-size-parlament-3-h2: 0.6rem;
    --font-size-parlament-4-h2: 0.5rem;
    --height-parl: 40px;

}

.parl {
    width: 100%;
    height: var(--height-parl);
    color: red;    
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;    
}

.parl-1 h1 {
    font-size: var(--font-size-parlament-h1);
    margin-left: 1rem;
    color: rgb(3, 45, 100);
    font-weight: 500;    
}

.parl-2 h2 {
    font-size: var(--font-size-parlament-h2);
    color: #189583;
    font-weight: 100;
}

.par p {
    font-size: var(--font-size-parlament-p);
    padding-left: 150px;
    color: yellow;
    background-color: black;
    letter-spacing: 1rem;
}

.parl-1 {
    width: 50%;
}

.parl-2 {
    width: 20%;
}

.parl-3 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parl-4 {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parl-3 div h2 {
    font-size: var(--font-size-parlament-3-h2);
    color: #189583;        
}

.parl-3 div h3 {
    font-size: var(--font-size-parlament-3-h2);
    color: red;        
}

.parl-4 h2 {
    font-size: var(--font-size-parlament-4-h2);
    color: red;    
    font-style: italic;
}

/* Painel com Matéria a ser votada, cronometragem e resultado das votações. */
.painel {
    margin: 0;
    padding: 0;
}

.headline {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headline h1 {
    font-size: var(--font-size-parlament-h2);
    color: #189583;
}

.painel-0 {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.painel-1 h1 {
    font-size: var(--font-size-parlament-h2);
    color: blue;
}

.painel-2 {
    width: 30%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.painel-2 h2 {
    font-size: var(--font-size-parlament-p);
    color: red;
}

/* Mesa Diretora. */
.mesa-diretora {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mesa-dir {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

   
}




