.parl {
    width: 100%;
    height: 120px;
    color: red;    
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;    
}

.parl-1 h1 {
    font-size: 2.5rem;
    margin-left: 1rem;
    color: rgb(3, 45, 100);
    font-weight: 500;
    letter-spacing: .2rem;
}

.parl-2 h2 {
    font-size: 2rem;
    color: #189583;
    font-weight: 100;
}

.par p {
    font-size: 1.5rem;
    padding-left: 150px;
    color: yellow;
    background-color: black;
    letter-spacing: 1rem;
}

.parl-1 {
    width: 50%;
}

.parl-2 {
    width: 20%;
}

.parl-3 {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parl-4 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parl-3 h2 {
    font-size: 1.5rem;
    color: red;    
}

.parl-4 h2 {
    font-size: 1.5rem;
    color: #189583;    
    font-style: italic;
}