.painel-mesa {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headline-mesa {
    width: 100%;
    height: 200px;
    margin: 1px;
    border-radius: 10px;
    background-color: #189583;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headline-mesa h1 {    
    font-size: 3rem;
    color: white;
    text-align: center;
}

.materias-exp-mesa {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.resultado-vot-mesa {
    height: 7rem;    
    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
    padding: 0 150px;
    border-radius: 5px;
}

.resultado-vot-mesa h2 {
    font-size: 2.5rem;
    color: white;
}

.painel-mat-result-mesa {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;    
}

.materia-vot-mesa {
    height: 100px;         
    background-color: #189583;
    border-radius: 5px;     
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;   
}

.data-hora-mesa {
    width: 100%;
    height: 100px;
    margin: 1px;
    border-radius: 10px;
    background-color: #189583;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}

.data-hora-mesa h2 {
    color: white;
    font-size: 2.5rem;
    margin: 0 200px;
}